/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #BB3232;
    --ifm-color-primary-dark: #351616;
    --ifm-color-primary-darker: #250808;
    --ifm-color-primary-darkest: #150404;
    --ifm-color-primary-light: #BB6464;
    --ifm-color-primary-lighter: #CC4848;
    --ifm-color-primary-lightest: #FF4848;
    --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
    background-color: rgb(72, 77, 91);
    display: block;
    margin: 0 calc(-1 * var(--ifm-pre-padding));
    padding: 0 var(--ifm-pre-padding);
}
